
.card3{
    width: 45rem;
    background-color: var(--White);
    padding: 2rem 4rem;
    text-align: left;
    margin: 1rem auto;
    border-radius: 10px;
   &-head{
       margin: 2rem 0rem;
   }
   &-content{
       color: var(--Darkgray);
       margin: 1rem 0rem;
   }
    
}
.innercard{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(122, 122, 122,0.5);
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem 0rem;
    &-head{
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        &-right{
            font-weight: 700;
        }
        &-left{
            font-weight: 500;
            color: var(--Moderatecyan);
        }
    }
    &-content{
        color: var(--Darkgray);
    }
    &-action{
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        &-left{
            display: flex;
            align-items: center;
            font-weight: 700;
            .big{
                font-size: 2rem;
                margin-right: 0.5rem;
            }
            .small{
                font-weight: 300;
                color: var(--Darkgray);
            }
        }
        &-btn{
            
            button{
                font-weight: 500;
                background-color: var(--Moderatecyan);
                border: none;
                border-radius: 60px;
                padding: 0.5rem 1rem;
                color: var(--White);
                position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 50%;
                                bottom: 50%;
                                left: 50%;
                                right: 50%;
                                border: 2px solid var(--White);
                                border-radius: 100px;
                                transition: all 0.5s;
                                border-bottom: 0px;
                                border-top: 0px;
                            }
                            &:hover{
                                cursor: pointer;
                                position: relative;
                                transition: all 0.5s;
                                background-color: var(--Darkcyan);
                                &::after{
                                    content: '';
                                    position: absolute;
                                    top: -10px;
                                    bottom: -10px;
                                    left: 10px;
                                    right: 10px;
                                    border: 1px solid var(--White);
                                    border-radius: 100px;
                                    border-bottom: 0px;
                                    border-top: 0px;
                                }
                            }
            }
            
        }
    }
}
.disabled{
    opacity: 0.5;
    
    button{
        background-color: var(--Darkgray);
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            border: 2px solid var(--White);
            border-radius: 100px;
            transition: all 0.5s;
            border-bottom: 0px;
            border-top: 0px;
            display: none;
        }
        &:hover{
            cursor: pointer;
            position: relative;
            transition: all 0.5s;
            background-color: var(--Darkgray);
            &::after{
                content: '';
                position: absolute;
                top: -10px;
                bottom: -10px;
                left: 10px;
                right: 10px;
                border: 1px solid var(--White);
                border-radius: 100px;
                border-bottom: 0px;
                border-top: 0px;
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .card3{
        width: 90vw;
        background-color: var(--White);
        padding: 2rem 2rem;
        text-align: left;
        margin: 1rem auto;
        border-radius: 10px;
        
        
    }
    .innercard{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(122, 122, 122,0.5);
        border-radius: 10px;
        padding: 2rem;
        margin: 2rem 0rem;
        &-head{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            justify-content: space-between;
            &-right{
                font-weight: 700;
            }
            &-left{
                font-weight: 500;
                color: var(--Moderatecyan);
            }
        }
        &-content{
            color: var(--Darkgray);
        }
        &-action{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            justify-content: space-between;
            &-left{
                display: flex;
                align-items: center;
                font-weight: 700;
                .big{
                    font-size: 2rem;
                    margin-right: 0.5rem;
                }
                .small{
                    font-weight: 300;
                    color: var(--Darkgray);
                }
            }
            &-btn{
                
                button{
                    font-weight: 500;
                    background-color: var(--Moderatecyan);
                    border: none;
                    border-radius: 60px;
                    padding: 0.5rem 1rem;
                    color: var(--White);
                }
                
            }
        }
    }

}
