.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    transform: translateY(0%);
    animation: droppreloader 1s 4.8s 1 forwards;
    .box{
        position: absolute;
        height: 20rem;
        width: 20rem;
        border: 5px solid var(--Moderatecyan);
        // border-radius: 100%;
        transform: rotate(10deg) translateY(-300%);
        display: flex;
        justify-content: center;
        animation: dropbox 2s 4s 1 forwards;
    }
    .circle{
        height: 20rem;
        width: 20rem;
        border: 5px solid var(--Moderatecyan);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        animation: dropcircle 1s 4.3s 1 forwards;
        &::after{
            content:'loading';
            position: absolute;
            color: var(--Moderatecyan);
            font-style: italic;
            font-weight: 700;
            bottom: 25%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2rem;
        }
        .eye1{
            margin-top: 3rem;
            height: 5rem;
            width: 5rem;
            border: 5px solid var(--Moderatecyan);
            border-radius: 100%;
            margin-right: 1rem;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                height: 2rem;
                width: 2rem;
                background-color: var(--Moderatecyan);
                // color: white;
                border-radius: 100%;
                top: 25%;
                left: 30%;
                animation: eyeroll 3s infinite alternate forwards;
            }
        }
        .eye2{
            margin-top: 3rem;
            margin-left: 1rem;
            height: 5rem;
            width: 5rem;
            border: 5px solid var(--Moderatecyan);
            border-radius: 100%;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                height: 2rem;
                width: 2rem;
                background-color: var(--Moderatecyan);
                // color: white;
                border-radius: 100%;
                top: 25%;
                left: 30%;
                animation: eyeroll 3s infinite alternate forwards;
            }
        }
    }
}

@keyframes eyeroll {
    0%{
        top: 25%;
        left: 30%;
    }
    20%{
        top: 25%;
        left: 50%;
    }
    40%{
        top: 25%;
        left: 10%;
    }
    60%{
        top: 10%;
        left: 30%;
    }
    80%{
        top: 25%;
        left: 30%;
    }
    100%{
        top: 25%;
        left: 10%;
    }
}
@keyframes dropbox {
    0%{
        transform: rotate(10deg) translateY(-300%);
    }
    100%{
        transform: rotate(10deg) translateY(300%);
    }
}
@keyframes dropcircle {
    
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(200%);
    }
}
@keyframes droppreloader {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    90%{
        transform: translateY(200%);
        opacity: 1;
    }
    100%{
        transform: translateY(200%);
        opacity: 0;
    }
}